* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: lightskyblue;
}

/* Header */
.header {
    background-color: #757474;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/* Hero */
.hero {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: orange;
    cursor: pointer;
}
.hero button:hover {
    opacity:0.9;
    transform: scale(1.05);
}
/* Products */
.products {
    padding: 40px 40px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card button {
    margin-top: auto;
    padding: 12px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.product-card button:hover {
    opacity: 0.9;
}

/* Footer */
.footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;

}

.logo {
    width: 120px;     
    height: 120px;
    object-fit: contain;
    display: block;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s ease;
}
.product-card img:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .product-card img {
        height: 200px;
    }

    .product-card h3 {
        font-size: 14px;
    }
}

/* PRODUCT TITLE */
.product-card h3 {
    margin: 12px 0 6px;
    font-size: 16px;
    color: #333;
}

/* PRODUCT PRICE */
.product-card p {
    font-size: 15px;
    color: #777;
    font-weight: bold;
    margin-bottom: 12px;
}